
global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Dashboard Statistik HAProxy
listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s

frontend paycore_frontend
    bind *:80

    # ----- DEVSECOPS: RATE LIMITING (Layer 7 via IP) -----
    # Merekam rate request berdasarkan IP client (Stick Table)
    stick-table type ip size 100k expire 30s store http_req_rate(10s)
    http-request track-sc0 src
    
    # Jika request > 10 dalam 10 detik, tolak dengan HTTP 429 Too Many Requests
    http-request deny deny_status 429 if { sc_http_req_rate(0) gt 10 }

    # Forward Header IP Asli ke App Layer
    option forwardfor
    default_backend paycore_backend

backend paycore_backend
    balance roundrobin
    
    # ----- SRE: HEALTH CHECK & FAILOVER -----
    # Menargetkan endpoint /health yang sudah dibuat di aplikasi
    option httpchk GET /health
    http-check expect status 200

    # Definisi Multi-Instance App (Zero-Downtime Target)
    server app1 paycore-app-1:3000 check inter 2000ms fall 2 rise 2
    server app2 paycore-app-2:3000 check inter 2000ms fall 2 rise 2
